body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  position: relative;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

a:hover {
  color: inherit;
}

a::before {
  content: "";
  position: absolute;
  top: calc(-40%);
  left: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: rgba(118, 154, 255, 0.4);
  transform: scale(0);
  z-index: -100;
}

a:hover::before {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.btn {
  border-radius: 100px;
  font-weight: 500;
}

.btn:before {
  background: #f5f5f5;
  content: "";
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: #000000;
  background-color: #f5f5f5;
}

.mobb {
  display: none;
}

@media (max-width: 375px) {
  .mobb {
    display: flex;
  }
}

.btn:active {
  transform: scale(1.1);
}

.btn:focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #C8D7FF;
}

.btn:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #C8D7FF;
}

.btn:focus-within {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #F5F5F5;
}

.btn:target {
  font-weight: 600;
  background-color: #ffffff;
}

@media (max-width: 455px) {
  .btn {
    width: 100%;
  }
}
