/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  font-family: sans-serif;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif, Raleway, Open Sans;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.75rem;
  font-weight: 200;
  font-family: raleway;
  letter-spacing: -0.2rem;
}

/* Utility classes */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.6rem;
  padding-top: 2rem;
  height: 100vh;
}

@media (max-width: 375px) {
  .overlay {
    gap: 1.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 2rem;
    padding-bottom: 1.6rem;
    height: auto;
  }
}

.button,
.input,
.textarea {
  color: #333333;
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: #333333;
  border-width: 0.0625rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

.list {
  width: 100%;
  margin: 1rem 0;
  display: block;
  padding-left: 0;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transform: none !important;
          transform: none !important;
}

/* Typography */
.OtherOverlineMobile,
.OtherOverline,
.navinactive,
.navactive {
  font-size: 1rem;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.HeadlineH1,
.HeadlineH2,
.HeadlineH3,
.HeadlineH4,
.HeadlineH5,
.HeadlineH6,
.HeadlineH6mobile,
.ActionPrimary,
.ActionSecondary,
.ActionTertiary,
.Content,
.Heading,
.TextHero,
.TextMain,
.TextSecondary,
.TextSecondaryMobile,
.OtherCaption,
.OtherCaptionMobile,
.Body0 {
  font-style: normal;
}

.HeadlineH1,
.HeadlineH2,
.HeadlineH3,
.HeadlineH4,
.HeadlineH5,
.HeadlineH6 {
  font-family: Raleway, sans-serif;
}

.HeadlineH1 {
  font-size: 6rem;
  font-weight: 700;
}

.HeadlineH2 {
  font-size: 5rem;
  font-weight: 700;
}

.HeadlineH3 {
  font-size: 4.5rem;
  font-weight: 500;
}

.HeadlineH4 {
  font-size: 3.5rem;
  font-weight: 700;
}

.HeadlineH5 {
  font-size: 3rem;
  font-weight: 400;
}

.HeadlineH6,
.HeadlineH6mobile {
  font-size: 1.5rem;
  font-weight: 500;
}
